# Terraform files
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.lock.hcl

# Python environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# System files
.DS